   <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">  
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
                  <ion-title>
                    List Of All Student
                  </ion-title>
        </ion-toolbar>
    </ion-header>
            <ion-button color="primary" style="float:right" (click)="deleteAllStudent(students)" sise="small"><ion-icon name="trash"></ion-icon>DeleteAll</ion-button>
            <!-- <ion-select [(ngModel)]="student.teachername" name="teachername" okText="OK" cancelText="Dismiss" placeholder="select Teacher" 
            [selectedText]="student.teachername">
              <ion-select-option *ngFor="let s of list" (ionChange)="onTeacherChange(s)" [value]="s.teachername">{{s.teachername}}</ion-select-option>
            </ion-select> -->
            <ion-searchbar placeholder="Filter Schedules"></ion-searchbar>
              <ion-content>     
                <ion-card  *ngFor="let s of list" >
                  <ion-button color="primary"  (click)="onEdit(s)" sise="medium"><ion-icon name="create"></ion-icon></ion-button>
                  <ion-card-header>
                    
                    <ion-card-title ><ion-icon name="person"></ion-icon> Name: <ion-text color="primary">{{s.firstName}}{{s.lasttName}}</ion-text></ion-card-title>
                    <ion-card-subtitle><ion-icon name="no"></ion-icon>RollNo: <ion-text color="secondary">{{s.rollno}}</ion-text></ion-card-subtitle>
                    <ion-card-subtitle><ion-icon name="calender"></ion-icon>DOB: <ion-text color="danger">{{s.dob}}</ion-text></ion-card-subtitle>
                    <ion-card-subtitle><ion-icon name="person"></ion-icon>Teacher: <ion-text color="danger">{{s.teachername}}</ion-text></ion-card-subtitle>
                    <ion-card-subtitle><ion-icon name="calender"></ion-icon>Class: <ion-text color="secondary">{{s.class}}</ion-text> </ion-card-subtitle>
                    <ion-card-subtitle><ion-icon name="book"></ion-icon>Subject: <ion-text color="secondary">{{s.subject}}</ion-text></ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content><ion-icon name="home"></ion-icon>
                    <ion-text color="secondary"> {{s.address}}</ion-text>
                  </ion-card-content>
                  <ion-button color="danger" slot="end" style="float:right" (click)="deleteStudent(s)"><ion-icon name="trash"></ion-icon></ion-button>
                </ion-card>              
            </ion-content>
           
         
                