
    <ion-grid>
    <ion-toolbar>
<ion-title>
    Login
</ion-title>
      </ion-toolbar>
			
				<ion-item>
          <ion-label position="floating">Username</ion-label>
					<ion-input type="text" [(ngModel)]="username"></ion-input>
				</ion-item>

				<ion-item>
            <ion-label position="floating">Password</ion-label>
					<ion-input type="password" [(ngModel)]="password"></ion-input>
				</ion-item>
				<ion-button size="large" expand="full" shape="round"  (click)="onLogin()" >Login</ion-button>
      </ion-grid>